/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* Primary */
  --primary-1: hsl(217, 28%, 15%); /*(intro and email sign up background)*/
  --primary-2: hsl(218, 28%, 13%); /*(main background) */
  --primary-3: hsl(216, 53%, 9%); /*(footer background) */
  --primary-4: hsl(219, 30%, 18%); /*(testimonials background) */

  /* Accent */
  --accent-cyan: hsl(176, 68%, 64%); /*(inside call-to-action gradient)*/
  --accent-blue: hsl(198, 60%, 50%); /*(inside call-to-action gradient) */
  --accent-red: hsl(0, 100%, 63%); /*(error) */

  /* Neutral */
  --white: hsl(0, 0%, 100%);
}

body {
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
  background-color: var(--primary-2);
  color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
a {
  font-family: "Raleway", sans-serif;
}

/* NAVBAR */
.header {
  background-color: var(--primary-1);
}

.navbar ul {
  list-style: none;
}

.navbar a {
  color: rgba(255, 255, 255, 0.485);
}

.navbar a.active {
  color: var(--white);
  text-decoration: underline;
}

/* Intro */

.intro {
  background-color: var(--primary-1);
  background-image: url(../images/bg-curvy-desktop.svg);
  background-repeat: no-repeat;
  background-position: 50% 110%;
}

@media only screen and (max-width: 600px) {
  .intro {
    background-image: url(../images/bg-curvy-mobile.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
  }
}

.intro img {
  width: 450px !important;
}

.intro h3 {
  font-weight: 700;
}

.intro button {
  color: var(--white);
  background-color: var(--accent-blue);
  border-radius: 50px;
  font-weight: 700;
}

.intro button:is(:hover, :focus) {
  background-color: var(--accent-cyan);
}

/* Services */


/* Stay Productive */
.stay-productive img {
  width: 450px !important;
}

.stay-productive h2{
  font-weight: 700;
}

/* Attribution */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
